* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 10px 10vw;
    margin-bottom: 20px;
}

.header-item {
    text-decoration: none;
    font-family: Calibri, sans-serif;
    padding: 10px;
    color: darkgray;
}

.header-item:hover {
    color: #838383;
}

.header-item-active {
    color: #838383;
    text-decoration: underline;
}

.main {
    padding: 10px 10vw;
}

.main-content {
    display: flex;
    gap: 20px;
}

.main-content-text {
    color: #939393;
    font-family: Ebrima, sans-serif;
}

.main-content-list {
    list-style-position: inside;
    margin-top: 10px;
}

.main-content-list-item {
    margin: 10px 0;
    font-size: x-large;
    font-family: Ebrima, sans-serif;
    color: #838383;
}

.image {
    width: 250px;
    border-radius: 8px;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 10px 5px;
        flex-direction: column;
        align-items: center;
        gap: 5px 0;
    }

    .header-item {
        padding: 0;
    }

    .main-content {
        flex-direction: column-reverse;
        align-items: center;
    }
}