* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10vw;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.header-menu {
    display: flex;
    gap: 15px;
}

.header-item {
    text-decoration: none;
    font-family: Calibri, sans-serif;
    color: darkgray;
    font-size: 18px;
}

.header-item:hover {
    color: #838383;
}

.header-item-active {
    color: #838383;
    text-decoration: underline;
}

.main {
    padding: 10px 10vw;
    margin-top: 98px;
}

.main-content {
    display: flex;
    gap: 20px;
}

.main-content-text {
    color: #939393;
    font-family: Ebrima, sans-serif;
}

.main-content-list {
    list-style-position: inside;
    margin-top: 10px;
}

.main-content-list-item {
    margin: 10px 0;
    font-size: x-large;
    font-family: Ebrima, sans-serif;
    color: #838383;
}

.image {
    width: 250px;
    border-radius: 8px;
}

.text-center {
    text-align: center;
}

.burger-button {
    display: none;
}

.burger-menu {
    display: none;
}

.burger-menu-active {
    left: 0;
    top: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    gap: 10px;
}

.hr-line {
    border: 3px solid #d7d7d7;
    margin: 20px 0;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 15px;
    }

    .header-menu {
        display: none;
    }

    .burger-button {
        background-color: white;
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
    }

    .burger-button:hover {
        background-color: #d3d3d3;
        cursor: pointer;
    }

    .main-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }
}